@media only screen and (max-width: 1200px) {
  .rrss {width: 50%;padding-left: 50%;}
  .links {width: 60%;}
}

@media only screen and (max-width: 992px) {
  .sec1 {width: 80%;padding: 50px 10%}
  .sec2 {width: 90%;padding: 50px 5% 70px;}
  .itemsdir {width: 80%;padding-left: 10%;padding-right: 10%;}
}

@media only screen and (max-width: 768px) {
  .links {width: 80%;}
  .QuiSom {width: 60%;}
  .ImgQuiSom {margin-left: 25%;}
}

@media only screen and (max-width: 480px) {
  .links {width: 100%;}
  .sec1 {width: 100%;padding: 50px 0% 50px 0%;}
}

@media only screen and (max-width: 320px){
  .links a {margin: 0 5px;}
  .shapes {width: 100%;margin-bottom: 10px;}
  .sec2 article {width: 100%;float: left;margin: 0 2%;}
  .ImgQuiSom {margin-left: 0%;}
  .rrss {width: 50%;padding-left: 0%;padding-right: 30%;}''
  .secdir, .secitems {width: 95%;margin-right: 5%;margin-top: 10px;}
  .sec4 .left{width:100%;}
  .sec4 .right{width:100%;}
  .rrss {padding-left: 20px;width: 100%;}
  .seainp {width: 25%;}
}
