*{margin:0;padding:0;}
@font-face {
  font-family:'montserrat';
  src:url('fonts/montserrat/Montserrat-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'roboto';
  src:url('fonts/roboto/Roboto-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'script';
  src:url('fonts/script_mt_bold/script-mt-bold.ttf');
  font-weight:bold;
  font-style:bold;
}


body{width:100%;margin: 0;font-family: montserrat;}
a{text-decoration: none;color:#000;}
.productotit a{color:#FFF;}
.rrss{width:30%;padding-left:70%; background-color: #00000085; /*#00000054;*/position: absolute;}
.sig,.afac,.ains{float:right;}
.search{}
.seainp{margin-top: 6px;position: absolute;}
.sig{margin-top: 7px;color:#FFF;}
.afac{margin-top: -6px;margin-left: 10px;}
.ains{margin-top: -6px;margin-left: 10px;}

.sec1{background-image: url(img/fondo1.png);background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-size: cover;background-color: #000;}
.sec1{width:72%;float:left;padding-top:50px;padding: 50px 14%;}

.sec2{background-image: url(img/fondo2.png);background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-size: cover;background-color: #000;}
.sec2{width:72%;float:left;padding-top:50px;padding: 50px 14% 70px;}

.sec3{float: left;background-image: url(img/fondo3.png);background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-size: cover;background-color: #000;}

.logo{float: left;width: 30%;font-size: 30px;color: #f800ff;padding-left: 20px;}
.titulosite{font-family:script}
.links{float:right;width:50%;margin-top:10px;}
.links a{color: #FFF;text-align: center;float: left;margin: 0 10px;}
.titulosite{padding-top: 50px;
    float: left;
    font-size: 40px;
    width: 40%;
    text-align: center;
    color: #FFF;
    line-height: 30px;}
.tienda{font-size: 100px;}
.eso{font-family:Roboto;}

.shapes{width: 29%;float: left;margin: 0 2%;text-align: center;border-radius: 10%;}
.shape1{background-image: url(img/cuadro1.png); }
.shape2{background-image: url(img/cuadro2.png); }
.shape3{background-image: url(img/cuadro3.png); }
.shalor,.shaven{padding: 5%;}
.tit{font-family: 'script';font-size: 30px;color: #FFF;margin: 5px 0;}
.txt{font-family: 'montserrat';font-size: 14px;color: #FFF;margin-bottom: 10px;}
.linkleermas{font-weight: bold;color: #855386;text-transform: uppercase;}

.sec2{float: left;}
.ppro{float: left;width: 100%;text-align:center;color:#FFF;font-family: script;font-size: 50px;margin-bottom: 50px;}
.element{width: 20%;float: left;margin: 0 2%;}
.element img{width: 100%;max-height: 200px;float: left;margin: 0 1%;border: 2px solid white;border-radius: 10px;}
.element p{text-align:center;color:#FFF;}
.element p.productotit{margin-top:180px;margin-bottom:10px;text-transform:capitalize;}
.element p.val{color:#855386;font-weight:bold;}

.QuiSom{width: 30%;float: left;margin-left: 10%;padding: 0 5%;margin-top: 60px;margin-bottom:60px;color:#FFF;border: 1px solid #FFF;background-color: black;background-image: url(img/fondo2.png);background-repeat: no-repeat;background-position: bottom right;background-size: cover;}
.QuiSom a{color:#FFF;}
.ImgQuiSom{float: left;margin-left: 10%;margin-top: 60px;margin-bottom: 60px;}
.PQui{font-family: 'script';font-size: 30px;text-align:center;margin: 20px;}
.plor,.pine{text-align: justify;margin-bottom: 20px;}
.aleermas{text-align: center;width: 100%;border: 1px solid #FFF;border-radius: 15px;padding: 5px 20px;}
.pleer{width:100%;text-align:center;margin-bottom: 20px;}

.sec4{float: left;width: 100%;padding-top:40px;padding-bottom: 40px;}
.sec4{background-image:url(img/fondo4.png);}
.left{float:left;width: 50%;}
.pdat,.pfor{margin-bottom:50px;font-family:'script';font-size:30px;color:#FFF;}
.item1,.item2,.item3{padding-left:20%;margin-bottom:50px;color:#FFF;}
.item1 img,.item2 img,.item3 img{float:left;margin-right:15px;}
.txtnom,.txtema{width:80%;}
.right{float:right;width:50%;}
.pdat{text-align:center;text-decoration: underline;}
.pfor{text-decoration: underline;}
.ptel,.txttel{float:left;margin-top:10px;}
.txttel{width:180%;}
.leftcon{float: left;width: 100%;margin-top: 15px;}
.txtcon{margin: 0px;width: 90%;height: 150px;}
.aenv{float: left;text-align: center;margin-top: 10px;margin-left: 40%;background-color: #855386;padding: 10px;color: #FFF;font-weight: bold;}
.pnom, .pema, .ptel, .pcon{color:#FFF;}
.txtnom,.txtema,.txttel,.txtcon{border-color: white;color: white;background-image: url(img/fondo4.png);}
.itemsdir{width:60%;background-color:#000;}
.secdir, .secitems{width: 35%;color:#FFF;float: left;margin-right:5%;}
.secsig{width:20%;float:left;}
.phis{float: left;}
.itemsdir{float: left;padding-top:20px;padding-left:20%;padding-right:20%;padding-top:100px;}
.globo{border-radius:100px;background-color:#f363e7;float: left;margin-right: 10px;padding: 4px;padding-left: 6px;padding-right: 6px;}
.pinfo, .p608, .pcall, .pdag, .psig{color:#FFF;}
.secitemglo{margin-bottom: 15px;}
.footer{width: 100%;background-color: #000;color: #FFF;padding-bottom:50px;}
.footer a{color:#FFF;text-align:center;}
.ppie{width:100%;text-align:center;}
.line{border-right: 1px solid #FFF;padding-left: 5px;padding-right: 10px;}
.line2{padding-left: 5px;padding-right: 10px;}



.element img{width: 100%;max-height: 200px;float: left;margin: 0 1%;border: 2px solid white;border-radius: 10px;}
.itemcir{float:left;margin-right:10px; background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    padding: 5px;}
